{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <form method="POST" action="{{ url_for('author') }}">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Search by author name</legend>
            <div class="form-group">
                {{ form.name.label(class="form-control-label") }}
                {% if form.name.errors %}
                {{ form.name(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.name.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.name(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.type.label(class="form-control-label") }}
                {% if form.type.errors %}
                {{ form.type(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.type.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.type(class="form-control form-control-lg") }}
                {% endif %}
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
    <div class="form-group">
        <h1>Authors</h1>
        {% for row in author %}
        <h1>
            <span class="badge badge-info">
                {{ row.author_name }}
            </span>
            <a class="article-title" href="{{ url_for('book', ISBN = 0, lang = '0'+row.author_name) }}">  {{ form.list(class="btn btn-outline-info") }} </a>
        </h1>
        {% endfor %}
    </div>
</div>
{% endblock content %}